@tailwind base;
@tailwind components;
@tailwind utilities;

.playground{
    background-image: url('../src/assets/playground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.shadow-custom{
    box-shadow: 0px 0px 36px 2px #00000011;
}


@keyframes speedThrowMedium {
    0% {
      transform: translateY(0);
      background-color: red;
    }
    50% {
      transform: translateY(-100px);
      background-color: blue;
    }
    100% {
      transform: translateY(0);
      background-color: red;
    }
  }
  
.animate-scale-level {
    animation: speedThrowMedium 3s;
    animation-fill-mode: forwards;
}

@keyframes BallOut {
    0% {
        transform: translateY(0);
        opacity: 1;
        scale: 1.2;
    }
    50%{
        scale: 0.7;
        transform: translateY(-150%);
        opacity: 0.5;
        top: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
    
}
.ballOutOfGoal {
    animation: BallOut 3s;
    animation-fill-mode: forwards;
}

@keyframes BallIn {
    0% {
        transform: translateY(0);
        scale: 1.2;
    }
    30%{
        opacity: 0.5;
    }
    50%{
        scale: 0.5;
        opacity: 0.5;

        transform: translateY(-650%);
        top: 0;
    }
    
    60%{
        opacity: 1;
    }
    75%{
        transform: translateY(-10%);
    }
    85%{
        transform: translateY(-5%);
    }
    95%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
.ballInOfGoal {
    animation: BallIn 3s;
    animation-fill-mode: forwards;
}

*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Caprasimo', cursive;}

.textshadow{ 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.266);
}